$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/components-font-awesome/fonts";
@import "variables";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "bootswatch";
@import "ui-select";

//table header fix
.table {
  &-bordered > thead > tr > th,
  &-bordered > thead > tr > td {
    border-bottom: 2px solid $table-border-color;
  }
}